/* ---- TEXT ELEMENTS ---- */

p {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}

h2 {
  color: #555;
  font-size: 20px;
}

/* ---- SVG STYLES ---- */

svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* ---- LAYOUT ---- */

#chart-container {
  position: relative;
}

.container-fluid {
  max-width: 1200px;
}

.narration-container {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  color: #737373;
}

.narration-step {
  display: none;
}

.step-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.step-container .step.selected {
  border: 2px solid #848484;
  background-color: "lightgrey";
  color: #C5B4B4;
}

.step-container .step:hover {
  border: 2px solid #A6A4A4;
}

.step-container .step {
  display: inline-block;
  padding: 3px 10px;
  font-size: 20px;
  color: #999;
  background-color: #f0f0f0;
  text-align: center;
  border: 2px solid #fff;
  cursor: pointer;
}

#chart-footnote {
  position: absolute;
  bottom: -20;
  right: 0;
  font-size: 14px;
  color: #777;
}

.main-container {
  position: relative;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CCC;
  text-align: center;
  padding-top: 200px;
  font-size: 42px;
}

.navigate-btns {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-group-vertical {
  width: 100%;
}

/* ============================================================================
                                  GRAVEYARD
============================================================================ */

/*

.right-container {
  position: relative;
  height: 700px;
  padding: 10px;
  padding-top: 100px;
}

.bottom-container {
  position: relative;
  padding: 0;
}

.description  {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  color: #737373;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.top-container {
  position: relative;
  height: 180px;
  padding: 10px;
}
*/